[Unit]
Description=Lua cleanup script service
Requires=mysql.service

[Service]
Type=oneshot
WorkingDirectory=/home/pi/lua/
ExecStart=/usr/bin/lua5.1 dbclean.lua

[Install]
WantedBy=multiuser.target
